html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh; /* Карта на весь экран */
    width: 100%;
}

.controls {
    position: absolute;
    z-index: 1000; /* Убедимся, что кнопка всегда поверх карты */
}

.add-button {
    top: 1%;
    left: 5%; /* Выставляем кнопки слева */
    font-size: 18px;
    padding: 10px 20px;
}

.rotating-icon {
    transform-origin: center; /* Центр поворота */
}

.devices-button {
    top: 7%;
    left: 5%; /* Выставляем кнопки слева */
    font-size: 18px;
    padding: 10px 20px;
}

.ride-button {
    top: 13%;
    left: 5%; /* Выставляем кнопки слева */
    font-size: 18px;
    padding: 10px 20px;
}

.locate-button {
    top: 7%;
    left: 5%; /* Выставляем кнопки слева */
    font-size: 18px;
    padding: 10px 20px;
}

.camera1-button {
    top: 13%;
    left: 5%; /* Выставляем кнопки слева */
    font-size: 18px;
    padding: 10px 20px;
}

.camera2-button {
    top: 19%;
    left: 5%; /* Выставляем кнопки слева */
    font-size: 18px;
    padding: 10px 20px;
}

.modal-dialog {
    max-width: 500px;
}

.alert {
    z-index: 1000;
    font-size: large;
    font-weight: 500;
    position: absolute;
    bottom: 2%;
    right: 2%;
}
